.container {
  @apply flex flex-1 flex-col items-center justify-center bg-[#282c34] text-white text-base;
}

.images {
  @apply h-[40%] pointer-events-none;
}

.balanceWrapper {
  @apply flex flex-col gap-4 items-center justify-center;
}

.balanceTitle {
  @apply text-5xl font-semibold;
}

.balanceDesc {
  @apply text-base;
}

.balanceActions {
  @apply flex flex-1 flex-row gap-2 items-center justify-center;
}

.balanceButton {
  @apply p-2 border border-solid border-white rounded-md hover:bg-white hover:text-black;
}
